# Environments (Ensures secrets and local envs never leak)
.env
.env.*
.venv
env/
venv/
ENV/

# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
*.log

# VS Code / Codespaces
.vscode/

# OS / Misc
.DS_Store
Thumbs.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
PAT-*.json
